<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/static/styleabt.css" />
    <title>Responsive Navbar</title>
  </head>
  <body>
    <header>
      <header>
        <div class="navbar">
        
          <div class="logo"><a href="home.html">FRUIT DISEASE DETECTION</a></div >

            <ul class="links">
                
                <li><a href="about.html">About</a></li>
                <li><a href="home.html">home</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            
            <li><a href="getstarted.html">get started</a></li>
            <div class="toggle_btn">
            </div>
        </div>
    </header>
    <!--
      <ul class="nabar">
        <li><a href="home..html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
        <div class="navbar">
            <div class="logo"><a href="#">Apple Disease</a></div>
            <ul class="links">
                <li><a href="home..html">Home</a></li>
            </ul>
        </div>
    </header>-->
    <section class="scrolling-text">
            <br>
            <h2> Welcome to our Apple Diseases Detection Project!</h2>
            <br>
          <p>              
             Our mission is to enhance apple farming by leveraging cutting-edge technology to detect diseases in apple crops 
              early and accurately. Utilizing the power of deep learning and the ResNet-34 model, our project aims to identify various
               apple diseases, ensuring that farmers can take timely actions to protect their crops and maximize yield.
              
             <b> Why This Project?</b>
              
              Apple farming is a critical sector of agriculture, and diseases can significantly impact crop quality and yield. 
              Traditional methods of disease detection are often time-consuming and require expert knowledge.
             Our project aims to simplify this process by providing an automated, reliable, and quick solution for identifying apple diseases.
              
              <b>How It Works</b>
              
              Data Collection: We gather a vast dataset of apple images, including healthy apples and those affected by various diseases.
              Model Training: Using the ResNet-34 architecture, a deep convolutional neural network, we train our model to 
              recognize patterns and features associated with different apple diseases.
              Detection: The trained model can then analyze new apple images and accurately predict the presence of diseases,
             helping farmers to take necessary actions promptly.

              <b>Our Vision</b>
              
              We envision a future where technology and agriculture work hand in hand to ensure food security and sustainability. 
              By providing farmers with advanced tools for disease detection, we hope to contribute to healthier crops, reduced losses, 
              and more efficient farming practices.</p>
              
              
       
             
            </div>
    </section>
  </body>
</html>
